@media only screen and (max-width: 1200px) {
	[id*="instrucciones"]#instrucciones{
		height:60%; 
		width:90%;
		color:purple;
		position:fixed;
		margin-left:5%;
		margin-right:5%;
		font-weight: bold;
		margin-top:5%;
		text-align:justify;
		font-size:140%;
	}
	[id*="volver"]#volver{
		color:red;
		background-color:black;
		position:fixed;
		border-style:solid;
		text-align:center;
		margin-left:35%;
		margin-right:35%;
		width:30%;
		font-weight: bold;
		margin-top:80%;
		bottom:5%;
		font-size:130%;
		padding:3%;
	}
}
body,html{
	height:100%;
	padding:0px;
	margin:0px
}
body{
	font-size:3vw
}
#body{
	background-color: #D8D8D8;
	height:100%; 
	width:100%
}
#instrucciones{
	height:60%; 
	width:90%;
	color:purple;
	position:fixed;
	margin-left:5%;
	margin-right:5%;
	font-weight: bold;
	margin-top:5%;
	text-align:justify;
}
#volver{
	color:red;
	background-color:black;
	position:fixed;
	border-style:solid;
	text-align:center;
	margin-left:35%;
	margin-right:35%;
	width:30%;
	font-weight: bold;
	margin-top:80%;
	bottom:5%;
	padding:1%;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a {
	color:red;
}